<div class="container">
   <h2>Profilio redagavimas</h2>

   <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-content">
          <%= render 'form', user: @user %>
        </div>
        <div class="card-action">
          <%= link_to 'Rodyti', profile_path %>
        </div>
      </div>
    </div>
  </div>
</div>